@media print {
  .noprint {
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    height: 0px;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
}
body {
  min-width: 320px;
  background: hsla(0, 0%, 98%, 1);
}
section {
  position: relative;
  margin: 0px auto;
  width: auto;
}
.page-break {
  position: absolute;
  top: 1078px;
  width: 100%;
  height: 0px;
  border-bottom: 1px dotted black;
  display: none;
}
article {
  margin: 0px auto 10px auto;
  padding: 36px;
  width: 100%;
  background: white;
}
table.psnl-info {
  padding: 10px;
  width: 100%;
}
table.psnl-info td {
  width: 33.33%;
  word-break: break-all;
}
.rsm-header {
  margin: 0px 10px;
}
.rsm-header h2 {
  margin: 0px;
  padding-bottom: 5px;
}
.rsm-header hr {
  margin: 0px 0px 10px 0px;
  border: 1px solid black;
}
.rsm-cmpnt {
  padding: 0px 10px 10px 10px;
}
.rsm-cmpnt p {
  margin: 0px;
}
.rsm-cmpnt-top {
  margin: 0px auto 6px auto;
  display: flex;
}
.rsm-cmpnt-top div {
  flex: 1;
  font-weight: bold;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.font-10 {
  font-size: 10px;
}
.font-20 {
  font-size: 20px;
}
.rsm-cmpnt-mid {
  margin: 0px auto 6px auto;
  font-size: 14px;
  font-style: italic;
}
.rsm-cmpnt-btm ul {
  margin: 0px auto 6px auto;
  padding-left: 25px;
  list-style: circle;
}
.rsm-cmpnt-btm li {
  font-size: 14px;
}
#addDropBtn {
  position: fixed;
  font-size: 18px;
  height: 20px;
  user-select: none;
  cursor: pointer;
  display: none;
}
#dropBtn,
#addBtn {
  color: black;
  width: 20px;
  height: 20px;
  line-height: 16px;
  border: 1px solid black;
  display: inline-block;
}
.cmpnt-btn {
  background: #d8d8d8;
}
.cmpnt-p-btn {
  background: #eaeaea;
}
.cmpnt-li-btn {
  background: white;
}

@media (min-width: 768px) {
  section {
    margin: 50px auto;
    width: 792px;
  }
  .page-break {
    display: block;
  }
}

.resume-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
}
